* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;  /* Nền tối hơn */
  color: #e0e0e0;  /* Màu chữ sáng hơn */
  line-height: 1.6;
  margin: 0;
  font-weight: 400; /* Thêm font-weight chung cho body */
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #1e1e1e;  /* Màu tối cho header */
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;  /* Giảm khoảng cách giữa header và content */
}

header h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: 700; /* Làm tiêu đề đậm hơn */
  letter-spacing: 2px;
}

header p {
  font-size: 1.2em;
  margin-bottom: 15px;
  font-weight: 500; /* Làm chữ trong header đậm hơn */
}

.content {
  background-color: #1c1c1c;  /* Màu tối cho nội dung */
  padding: 40px;
  margin-bottom: 30px;  /* Giảm khoảng cách dưới content */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: 500; /* Làm chữ trong content đậm hơn */
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #888;
  font-weight: 400;
}

footer p {
  margin-bottom: 10px;
}

